<section class="keys">
  <div class="numbers">
    <button class="number__btn">7</button>
    <button class="number__btn">8</button>
    <button class="number__btn">9</button>
    <button class="number__btn number__btn--bg custom">del</button>
    <button class="number__btn">4</button>
    <button class="number__btn">5</button>
    <button class="number__btn">6</button>
    <button class="number__btn">+</button>
    <button class="number__btn">1</button>
    <button class="number__btn">2</button>
    <button class="number__btn">3</button>
    <button class="number__btn">-</button>
    <button class="number__btn">.</button>
    <button class="number__btn">0</button>
    <button class="number__btn">/</button>
    <button class="number__btn">x</button>
    <button class="number__btn btn__item__reset custom">reset</button>
    <button class="number__btn btn__item__result" id="igual">=</button>
  </div>
</section>
